
FinalProject/FrontEnd/.idea/aws.xml
FinalProject/FrontEnd/.idea/azure/azureSettings.xml
FinalProject/FrontEnd/.idea/misc.xml
FinalProject/FrontEnd/.idea/vcs.xml
FinalProject/FrontEnd/.idea/workspace.xml
FinalProject/FrontEnd/.idea/aws.xml
FinalProject/FrontEnd/.idea/azure/azureSettings.xml
FinalProject/FrontEnd/.idea/misc.xml
FinalProject/FrontEnd/.idea/vcs.xml
FinalProject/FrontEnd/.idea/workspace.xml
