.Home{
    margin: auto;
}

.Home ul {
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;
    background-color: rgb(26, 229, 243);
}


.Home li {
    display: inline-block;
    margin: 20px;
}
.Home a {
    text-decoration: none;
    color: black;
}